<ion-grid>
  <ion-row>
    <ion-col size = 3>
      Red Scroe
    </ion-col>
    <ion-col size = 6>
      
    </ion-col>
    <ion-col size = 3>
      Blue Score
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size = 3>
      {{this.gameStats.red.ballsScored}}
    </ion-col>
    <ion-col size = 6>
      Balls Scored
    </ion-col>
    <ion-col size = 3>
      {{this.gameStats.blue.ballsScored}}

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size = 3>
      {{this.gameStats.red.connectedRowsScore}}
    </ion-col>
    <ion-col size = 6>
      Connected Rows Score
    </ion-col>
    <ion-col size = 3>
      {{this.gameStats.blue.connectedRowsScore}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size = 3>
      {{this.gameStats.red.winPoint}}
    </ion-col>
    <ion-col size = 6>
      Win Point
    </ion-col>
    <ion-col size = 3>
      {{this.gameStats.blue.winPoint}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size = 3>
      {{this.gameStats.red.autonomousBonus}}
    </ion-col>
    <ion-col size = 6>
      Autonomous Points
    </ion-col>
    <ion-col size = 3>
      {{this.gameStats.blue.autonomousBonus}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size = 3>
      {{this.gameStats.red.score}}
    </ion-col>
    <ion-col size = 6>
      Score
    </ion-col>
    <ion-col size = 3>
      {{this.gameStats.blue.score}}
    </ion-col>
  </ion-row>
</ion-grid>