<div class="field-wrapper">
  <vex-goal class = "row0 col0" [goal] = this.goals[0][0] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row0 col1" [goal] = this.goals[0][1] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row0 col2" [goal] = this.goals[0][2] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row1 col0" [goal] = this.goals[1][0] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row1 col1" [goal] = this.goals[1][1] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row1 col2" [goal] = this.goals[1][2] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row2 col0" [goal] = this.goals[2][0] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row2 col1" [goal] = this.goals[2][1] (newEvent) = "handleNewEvent($event)"> </vex-goal>
  <vex-goal class = "row2 col2" [goal] = this.goals[2][2] (newEvent) = "handleNewEvent($event)"> </vex-goal>
</div>